@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

nav,
footer {
    background-color: cornflowerblue;
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    color: white;
}

nav{
    border-bottom: 3px solid black;
}

footer{
        border-top: 2px solid black;
}



nav ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    margin: 20px;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline;
    margin: 0 2px;
}

ul li::before {
    display: inline;
}

nav ul a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: white;
}

nav li:last-child a{
    margin-left: 190px;
}

nav li:last-child a:hover{
    color: greenyellow;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
    color: #c5c6c7;
    font-weight: bold;
}

nav a:hover {
    cursor: pointer;
    color: black;
    font-weight: bolder;
}

nav > a > img {
    width: 80px;
    height: 70px;
}

footer div {
    color: black;
}

#countries a > img{
    width: 30px;
    margin-left: 7px;
    vertical-align: middle;
}

section h1, h2, h3{
    text-align: center;
    font-size: 35px;
    background-color: cornflowerblue;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

section {
    text-align: center;
    background-color: cornflowerblue;
}

#teams {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
    flex-wrap: wrap;
    align-content: space-between;
}

#teams li {
    margin: 15px 45px;
    text-align: center;
}

#teams li:hover span{
    color: black;
}

#teams li a {
    display: block;
    text-decoration: none;
}

#teams li img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px auto;
}

#teams li span {
    display: block;
    margin-top: 5px;
    font-size: 19px;
    color: white;
}

#leagues{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px 150px;
    height: 360px;
}

#leagues article{
    width: 350px;
    border: 6px solid white;
    border-radius: 8px;
}

#leagues article h2{
    font-size: 25px;
    padding: 10px 20px;
}

#leagues article h3{
    font-size: 20px;
    padding: 10px 20px;
}

#leagues article a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#leagues article img{
    margin: 20px;
    max-width: 95px;
    height: 100%;
}

#leagues article a{
    text-decoration: none;
    color: white;
}

#leagues article:hover span{
    color: black;
}



