table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 18px;
      text-align: left;
}

tbody td:hover {
      background-color: #d1e7dd;
      transition: background-color 0.3s ease;
}

th, td {
      padding: 12px 15px;
      border: 1px solid #ddd;
}

tr:nth-child(even) {
      background-color: #f1f1f1;
}

th {
      background-color: #4CAF50;
      color: white;
      text-align: center;
}

td {
      text-align: center;
      vertical-align: middle;
}

td img {
      display: block;
      margin: 0 auto;
      width: 30px;
      height: auto;
}

