{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Application</title>
    <link rel="stylesheet" href="{% static 'football/main.css' %}">
</head>
<body>
<div id="box">
    <header>
        <nav>
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.jpg' %}" alt="football ball"></a>
            <ul>
                {% for country in countries %}
                    <li id="countries">
                        <a href="{% url 'league' country.name %}">
                            {{ country.name }}
                            <img src="{{ country.flag.url }}" alt="{{ country.name }}">
                        </a>
                    </li>
                {% endfor %}
                <li><a href="#">FAVOURITE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div>
            &copy;Petar Koprinkov 2024. All rights reserved.
        </div>
    </footer>
</div>
</body>
</html>