{% extends 'football/base.html' %}
{% block content %}
<main>
        <section>
            <h1>Top football clubs in Europe</h1>
            <ul id="teams">
                {% for team in first_teams %}
                    <li>
                        <a href="#">
                            <img src="{{ team.emblem.url }}" alt="{{ team.name }} emblem">
                            <span><b>{{ team.name }}</b></span> 
                        </a>
                    </li>
                {% endfor %}
            </ul> 
        </section>
        <section id="leagues">
            {% for team in uefa_teams %}
                <article>
                    <h2>{{ team.european_title }}</h2>
                    <h3>Winner:</h3>
                    <a href="#" >
                        <img src="{{ team.emblem.url }}" alt="{{ team.name }} emblem">
                        <span><b>{{ team.name }}</b></span> 
                    </a>
                </article>
            {% endfor %}
        </section>
</main>
{% endblock %}