{% extends 'football/base.html' %}
{% block content %}
        <section>
            <div id="text-header">
                <h1>Top football clubs in Europe</h1>
            </div>
            <ul id="teams">
                {% for team in first_teams %}
                    <li>
                        <a href="{% url 'team' team.name%}">
                            <img src="{{ team.emblem.url }}" alt="{{ team.name }} emblem">
                            <span><b>{{ team.name }}</b></span> 
                        </a>
                    </li>
                {% endfor %}
            </ul> 
        </section>
        <section id="leagues">
            {% for team in uefa_teams %}
                <article>
                    <h2>{{ team.european_title }}</h2>
                    <h3>Winner:</h3>
                    <a href="{% url 'team'  team.name%}" >
                        <div>
                             <img src="{{ team.emblem.url }}" alt="{{ team.name }} emblem">
                            <span><b>{{ team.name }}</b></span> 
                        </div>
                    </a>
                </article>
            {% endfor %}
        </section>
{% endblock %}